body {
  color: whitesmoke;
  background-color: black;
}


.menu {
  position: fixed;
  z-index: 5;
  width: 100vw;
  top: 0;
  
  justify-content: right;
 
  background-color: black;
  border-bottom: 10px;
  border-color: white;
}

.menu ul {
  display: flex;
  list-style: none;  
  padding: 0;
  margin: 0;
  margin-right: 2rem;
  flex-direction: row;
  gap: 1rem;
}

.menu a {
  text-decoration: none; 
  color: inherit;        
}

main {
  margin-top: 20rem;
}