body {
  color: whitesmoke;
  background-color: black;
}


.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  border-bottom: 2px solid white; /* white line under the header */
  padding: 1rem 2rem;
}

.menu ul {
  display: flex;
  list-style: none;  
  padding: 0;
  margin: 0;
  margin-right: 2rem;
  flex-direction: row;
  gap: 1rem;
}

.menu a {
  text-decoration: none; 
  color: inherit;        
}

main {
  margin-top: 20rem;
}